<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/responsive.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>

    <div class="super_container">

        <!-- Header -->

        <header class="header">
            <div class="header_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="header_content d-flex flex-row align-items-center justify-content-start">
                                <div class="logo"><a href="#">Voonderbar!</a></div>
                                <nav class="main_nav">
                                    <ul>
                                        <li class="hassubs active">
                                            <a class="nav-link js-scroll-trigger" href="#">Delivery</a>

                                            <ul>
                                                <!-- <li><a href="categories.html">Categories</a></li> -->
                                                <!-- <li><a href="products.html">Product</a></li>  -->
                                                <li><a href="/cart/checkout">Cart</a></li>
                                                <li><a href="/cart/checkout">Check-out</a></li>
                                                <!-- <li><a href="contact.html">Contact</a></li> -->
                                            </ul>
                                        </li>

                                        {{!-- <li class="nav-item">
                                            <a class="nav-link js-scroll-trigger" href="#portfolio">trip overview</a>
                                        </li> --}}


                                        <li class="hassubs">
                                            <a class="nav-link js-scroll-trigger" href="#products">Products</a>
                                            <ul>
                                                <li><a href="#sativa">Sativa</a></li>
                                                <li><a href="#indica">Indica</a></li>
                                                <li><a href="#hybrid">Hybrids</a></li>
                                                <li><a href="#white">White Wine</a></li>
                                                <li><a href="#red">Red Wine</a></li>
                                            </ul>
                                        </li>


                                        <!--REMOVED ACCESSORIES-->

                                        <!-- <li><a href="#">Accessories</a></li> -->
                                        <!-- <li><a href="#">Offers</a></li> -->


                                        <li><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>

                                        {{!-- <!--ADDED DELIVERY-->
                                        <li><a href="delivery.html">Delivery</a></li> --}}


                                    </ul>
                                </nav>
                                <div class="header_extra ml-auto">
                                    <div class="shopping_cart">
                                        <a href="/cart/checkout">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 489 489" style="enable-background:new 0 0 489 489;"
                                                xml:space="preserve">
                                                <g>
                                                    <path d="M440.1,422.7l-28-315.3c-0.6-7-6.5-12.3-13.4-12.3h-57.6C340.3,42.5,297.3,0,244.5,0s-95.8,42.5-96.6,95.1H90.3
													c-7,0-12.8,5.3-13.4,12.3l-28,315.3c0,0.4-0.1,0.8-0.1,1.2c0,35.9,32.9,65.1,73.4,65.1h244.6c40.5,0,73.4-29.2,73.4-65.1
													C440.2,423.5,440.2,423.1,440.1,422.7z M244.5,27c37.9,0,68.8,30.4,69.6,68.1H174.9C175.7,57.4,206.6,27,244.5,27z M366.8,462
													H122.2c-25.4,0-46-16.8-46.4-37.5l26.8-302.3h45.2v41c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h139.3v41
													c0,7.5,6,13.5,13.5,13.5s13.5-6,13.5-13.5v-41h45.2l26.9,302.3C412.8,445.2,392.1,462,366.8,462z" />
                                                </g>
                                            </svg>
                                            <div>Cart</div>
                                        </a>
                                    </div>
                                    <div class="search">
                                        <div class="search_icon">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 475.084 475.084"
                                                style="enable-background:new 0 0 475.084 475.084;" xml:space="preserve">
                                                <g>
                                                    <path d="M464.524,412.846l-97.929-97.925c23.6-34.068,35.406-72.047,35.406-113.917c0-27.218-5.284-53.249-15.852-78.087
												c-10.561-24.842-24.838-46.254-42.825-64.241c-17.987-17.987-39.396-32.264-64.233-42.826
												C254.246,5.285,228.217,0.003,200.999,0.003c-27.216,0-53.247,5.282-78.085,15.847C98.072,26.412,76.66,40.689,58.673,58.676
												c-17.989,17.987-32.264,39.403-42.827,64.241C5.282,147.758,0,173.786,0,201.004c0,27.216,5.282,53.238,15.846,78.083
												c10.562,24.838,24.838,46.247,42.827,64.234c17.987,17.993,39.403,32.264,64.241,42.832c24.841,10.563,50.869,15.844,78.085,15.844
												c41.879,0,79.852-11.807,113.922-35.405l97.929,97.641c6.852,7.231,15.406,10.849,25.693,10.849
												c9.897,0,18.467-3.617,25.694-10.849c7.23-7.23,10.848-15.796,10.848-25.693C475.088,428.458,471.567,419.889,464.524,412.846z
												 M291.363,291.358c-25.029,25.033-55.148,37.549-90.364,37.549c-35.21,0-65.329-12.519-90.36-37.549
												c-25.031-25.029-37.546-55.144-37.546-90.36c0-35.21,12.518-65.334,37.546-90.36c25.026-25.032,55.15-37.546,90.36-37.546
												c35.212,0,65.331,12.519,90.364,37.546c25.033,25.026,37.548,55.15,37.548,90.36C328.911,236.214,316.392,266.329,291.363,291.358z
												" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Search Panel -->
            <div class="search_panel trans_300">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="search_panel_content d-flex flex-row align-items-center justify-content-end">
                                <form action="#">
                                    <input type="text" class="search_input" placeholder="Search" required="required">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Social -->
            {{!-- <div class="header_social">
                <ul>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div> --}}
        </header>

        <!-- Menu -->

        <div class="menu menu_mm trans_300">
            <div class="menu_container menu_mm">
                <div class="page_menu_content">

                    <div class="page_menu_search menu_mm">
                        <form action="#">
                            <input type="search" required="required" class="page_menu_search_input menu_mm"
                                placeholder="Search for products...">
                        </form>
                    </div>
                    <ul class="page_menu_nav menu_mm">
                        <li class="page_menu_item has-children menu_mm">
                            <a href="index.html">Home<i class="fa fa-angle-down"></i></a>
                            <ul class="page_menu_selection menu_mm">
                                <!-- <li class="page_menu_item menu_mm"><a href="products.html">Categories<i class="fa fa-angle-down"></i></a></li> -->
                                <!-- <li class="page_menu_item menu_mm"><a href="product.html">Product<i class="fa fa-angle-down"></i></a></li> -->
                                <li class="page_menu_item menu_mm"><a href="cart.html">Cart<i
                                            class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item menu_mm"><a href="checkout.html">Checkout<i
                                            class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item menu_mm"><a href="contact.html">Contact<i
                                            class="fa fa-angle-down"></i></a></li>
                            </ul>
                        </li>
                        <li class="page_menu_item has-children menu_mm">
                            <!-- <a href="products.html">Categories<i class="fa fa-angle-down"></i></a> -->
                            <ul class="page_menu_selection menu_mm">
                                <li class="page_menu_item menu_mm"><a href="products.html">Category<i
                                            class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item menu_mm"><a href="products.html">Category<i
                                            class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item menu_mm"><a href="products.html">Category<i
                                            class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item menu_mm"><a href="products.html">Category<i
                                            class="fa fa-angle-down"></i></a></li>
                            </ul>
                        </li>
                        <!-- <li class="page_menu_item menu_mm"><a href="index.html">Accessories<i class="fa fa-angle-down"></i></a></li> -->
                        <!-- <li class="page_menu_item menu_mm"><a href="#">Offers<i class="fa fa-angle-down"></i></a></li> -->

                        <li class="page_menu_item menu_mm"><a href="contact.html">Contact<i
                                    class="fa fa-angle-down"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="menu_close"><i class="fa fa-times" aria-hidden="true"></i></div>

            {{!-- <div class="menu_social">
                <ul>
                    <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div> --}}
        </div>

        <!-- Home -->

        <div class="home">
            <div class="home_slider_container">

                <!-- Home Slider -->
                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background" style="background-image:url(images/weedbar.jpg)">
                        </div>
                        <div class="home_slider_content_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_slider_content" data-animation-in="fadeIn"
                                            data-animation-out="animate-out fadeOut">
                                            <div class="home_slider_title">A new Online Shop experience.</div>
                                            <div class="home_slider_subtitle">Voonderbar is an online store dedicated to patrons who are looking for their next cannabis and wine purchase.</div>
                                            <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background" style="background-image:url(images/MLL_CANNABIS-WINE-2A.jpg)">
                        </div>
                        <div class="home_slider_content_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_slider_content" data-animation-in="fadeIn"
                                            data-animation-out="animate-out fadeOut">
                                            <div class="home_slider_title">Discreet and accessible</div>
                                            <div class="home_slider_subtitle">Voonderbar is designed to appeal to those new to the cannabis and wine culture and veterans who are looking for the next best strain and vine for their needs.  </div>
                                            <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background" style="background-image:url(images/wineglassweed.jpg)">
                        </div>
                        <div class="home_slider_content_container">
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div class="home_slider_content" data-animation-in="fadeIn"
                                            data-animation-out="animate-out fadeOut">
                                            <div class="home_slider_title">A new Online Shop experience.</div>
                                            <div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed
                                                viverra velit venenatis fermentum luctus.</div>
                                            <div class="button button_light home_button"><a href="#">Shop Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Home Slider Dots -->

                <div class="home_slider_dots_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="home_slider_dots">
                                    <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                                        <li class="home_slider_custom_dot active">01.</li>
                                        <li class="home_slider_custom_dot">02.</li>
                                        <li class="home_slider_custom_dot">03.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <!------------------------------------------------->

        <!-----------------PRODUCTS------------------------>

        <!------------------------------------------------->

        

        <section class="bg-dark page-section" id="products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 id="sativa" class="section-heading text-uppercase">cannabis sativas</h2>
                        <h3 class="section-subheading text muted">uplifting and cerebral, enhancing creativity and productivity</h3>
                    </div> 
                    {{#each sativa}}
               
                    <div class="col-lg-4">
                        <br>
                        <div class="strain">

                            <h3>{{ strainName }}</h3>

                            <p>{{ color }}</p>

                            <p> {{ desc }}</p>

                            <p> {{ percentOfTHC }}</p>

                            <p> {{ pricePerGram }}</p>

                            <button data-productid={{id}} class="cannabis">add to cart</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 id="indica" class="section-heading text-uppercase">cannabis indicas</h2>
                        <h3 class="section-subheading text muted">producing a body-high, great for relaxation or trying to sleep</h3>
                    </div>
                    {{#each indica}}
                    <div class="col-lg-4">
                        <br>
                        <div class="strain">

                            <h3>{{ strainName }}</h3>

                            <p>{{ color }}</p>

                            <p> {{ desc }}</p>

                            <p> {{ percentOfTHC }}</p>

                            <p> {{ pricePerGram }}</p>

                            <button data-productid={{id}} class="cannabis">add to cart</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 id="hybrid" class="section-heading text-uppercase">cannabis hybrids</h2>
                        <h3 class="section-subheading text muted">somewhere in between, offering a balance of indica and sativa effects</h3>
                    </div>
                    {{#each hybrid}}
                    <div class="col-lg-4">
                        <br>
                        <div class="strain">

                            <h3>{{ strainName }}</h3>

                            <p>{{ color }}</p>

                            <p> {{ desc }}</p>

                            <p> {{ percentOfTHC }}</p>

                            <p> {{ pricePerGram }}</p>

                            <button data-productid={{id}} class="cannabis">add to cart</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 id="white" class="section-heading text-uppercase">wine - white</h2>
                        <h3 class="section-subheading text muted">lighter, crisp flavors, light</h3>
                    </div>
                    {{#each white}}
                    <div class="col-lg-4">
                        <br>
                        <div class="wine">

                            <h3>{{ name }}</h3>

                            <p>{{ varietal }}</p>

                            <p> {{ flavor }}</p>

                            <p> {{ alcoholPercent }}</p>

                            <p> {{ pricePerBottle }}</p>

                            <button class="cartbtn" data-productid={{id}}>add to cart</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 id="red" class="section-heading text-uppercase">wine - red</h2>
                        <h3 class="section-subheading text muted">deeper, bolder flavors, dark fruits.</h3>
                    </div>
                    {{#each red}}
                    <div class="col-lg-4">
                        <br>
                        <div class="wine">

                            <h3>{{ name }}</h3>

                            <p>{{ varietal }}</p>

                            <p> {{ flavor }}</p>

                            <p> {{ alcoholPercent }}</p>

                            <p> {{ pricePerBottle }}</p>

                            <button class="cartbtn" data-productid={{id}}>add to cart</button>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <br>
                <br>
            </div>
        </section>




            {{!-- <div class="product_grid"> --}}

                <!-- Product -->
                {{!-- <div class="product">
                            <div class="product_image"><img src="images/product_5.jpg" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$170</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_6.jpg" alt=""></div>
                            <div class="product_extra product_hot"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$240</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_7.jpg" alt=""></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$70</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_8.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$490</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_9.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$410</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_10.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$365</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_11.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$195</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_12.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$580</div>
                            </div>
                        </div> --}}

                        <!-- Product -->
                        {{!-- <div class="product">
                            <div class="product_image"><img src="images/product_9.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$410</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_10.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$365</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_11.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$195</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_12.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$580</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_9.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$410</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_10.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$365</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_11.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$195</div>
                            </div>
                        </div>

                        <!-- Product -->
                        <div class="product">
                            <div class="product_image"><img src="images/product_12.jpg" alt=""></div>
                            <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="product.html">Smart Phone</a></div>
                                <div class="product_price">$580</div>
                            </div>
                        </div> --}}
                <!--------------------->

            {{!-- </div> --}}

            <!-----UNECESSARY SINCE WE ARE MAKING ONE PAGE---------->
            <!-- <div class="product_pagination">
					<ul>
						<li class="active"><a href="#">01.</a></li>
						<li><a href="#">02.</a></li>
						<li><a href="#">03.</a></li>
					</ul>
				</div> -->


        </div>
    </div>







    <!-------------------------------------------------->
    <!-- Icon Boxes -->

    <div class="icon_boxes">
        <div class="container">
            <div class="row icon_box_row">

                <!------------------------------------------------------->
                <!-- Icon Box -(THIS IS SHIPPING RELATED->

				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="images/icon_1.svg" alt=""></div>
						<div class="icon_box_title">Free Shipping Worldwide</div>
						<div class="icon_box_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
						</div>
					</div>
				</div>

				------------------------------------------------------->

                <!-- Icon Box - THIS IS RETURNS RELATED->

				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="images/icon_2.svg" alt=""></div>
						<div class="icon_box_title">Free Returns</div>
						<div class="icon_box_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
						</div>
					</div>
				</div>
								
				------------------------------------------------------->


                <!-- Icon Box -- SUPPORT RELATED
				<div class="col-lg-4 icon_box_col">
					<div class="icon_box">
						<div class="icon_box_image"><img src="images/icon_3.svg" alt=""></div>
						<div class="icon_box_title">24h Fast Support</div>
						<div class="icon_box_text">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	----------------------------------------------------->

                <!---------------------CONTACT------------------------->

                 <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted" id="contact-muted">We are either high or drunk, but here to help</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required"
                    data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required"
                    data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required"
                    data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required"
                    data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center" id="contact-us">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send
                  Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>


                            <!-- Contact Info -->
                            <div class="col-lg-3 offset-xl-1 contact_col">
                                <div class="contact_info">
                                    <div class="contact_info_section">
                                        <div class="contact_info_title">Marketing</div>
                                        <ul>
                                            <li>Phone: <span>+53 345 7953 3245</span></li>
                                            <li>Email: <span>yourmail@gmail.com</span></li>
                                        </ul>
                                    </div>
                                    <div class="contact_info_section">
                                        <div class="contact_info_title">Shippiing & Returns</div>
                                        <ul>
                                            <li>Phone: <span>+53 345 7953 3245</span></li>
                                            <li>Email: <span>yourmail@gmail.com</span></li>
                                        </ul>
                                    </div>
                                    <div class="contact_info_section">
                                        <div class="contact_info_title">Information</div>
                                        <ul>
                                            <li>Phone: <span>+53 345 7953 3245</span></li>
                                            <li>Email: <span>yourmail@gmail.com</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{!-- </div> --}}
                        {{!-- <div class="row map_row">
                            <div class="col"> --}}

                                <!-- Google Map -->
                                <!-- <div class="map">
						<div id="google_map" class="google_map">
							<div class="map_container">
								<div id="map"></div>
							</div>
						</div>
					</div> -->

                            {{!-- </div>
                        </div> --}}
                    {{!-- </div>
                </div> --}}

                <!----------------------------------------------------->


                <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Voonderbar 2019</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <!-- links to twitter page -->
              <a href="https://twitter.com/beefy_bois" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <!-- links to facebook page -->
              <a href="https://www.facebook.com/beefyBois/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

                    {{!-- <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li> --}}